*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.active{
    color: #1a75c3;
    border-right: 4px solid #1a75c3;
    border-radius: 5px 0 0 5px;

    img{
        filter: invert(31%) sepia(53%) saturate(4230%) hue-rotate(193deg) brightness(90%) contrast(80%);
    }
}


.contenedor{
    width: 65%;
    margin: 50px auto 30px 300px;

    @media (max-width: 1024px){
        margin: 50px auto 30px 180px;
    }

}